body,
html {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.logo {
    grid-column: 1 / 2;
}

img {
    height: 70px;
    width: 155px;
}

.social-icons {
    grid-column: 2 / 3;
    text-align: right;
}

.icono {
    height: 35px;
    width: 35px;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav li {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px;
}

.box {
    background-color: #f0f0f0;
    padding: 3cqmin;
    border: 1px solid #ccc;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.imagen_final {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}
/* formulario */

.box {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

form {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#total-ganado, #total-descuentos, #sueldo-liquido {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}